
.blue-div {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.blue-div-child {
    display: inline-block;
    min-width: 200px;
    min-height: 200px;
    border: 2px solid blue;
    border-radius: 15px 50px
    /*animation: rotation infinite 20s linear;*/
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.yellow-div {

}

.yellow-div-child {
    margin: 3rem auto;
    border: 2px solid yellow;
    width: 200px;
    height: 200px;
}

.green-div {
    display: flex;
    height: 200%;
    align-items: center;
    justify-content: center;
}

.green-div-child {
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: 50%;*/
    /*margin-left: 50px;*/
    /*transform: translate(-50%, -50%);*/
    border: 2px solid green;
    width: 200px;
    height: 200px;
}